.navBtn {
    width: 1100px;
    display: flex;
    justify-content: space-between;
}
nav ul {
    width: 550px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 150px;
}
header ul li a {
    font-weight: 500;
    color: #000000;
    font-size: 22px;
}
header ul li a:hover {
    border-bottom: 3px solid #0099FF;
}
.closed {
    display: none;
}